.list_item_container{
    width: -webkit-fill-available;
    border: 1px grey solid;
    border-top: none;
    &.active_note{
        background-color: rgb(191, 191, 191);
    }
}
.title{
    width: 100%;
    font-weight: 700;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.modifided{
    width: 100%;
    font-size: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: 12px;
}
 @media(max-width:300px){
    .title{
        font-size: 12px;
    }
    .modifided{
        font-size: 10px;
    }
 }
 @media(max-width:200px){
    .modifided{
        font-size: 7px;
    }
 }