.control_panel{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        padding: 0px 0px;
        border: none;
        background: inherit;
        margin:5px 5px;
    }
    svg{
        width: 25px;
        height: 25px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 25px;
        min-height: 25px;
    }
}

@media(max-width:300px){
    .control_panel{
        width: auto;
    }
}