.appheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}
@media(max-width:300px){
    .appheader{
        flex-direction: column;
        padding: 0px 0px 10px 0px;
    }
}